.st_socialnetwork_t_style12, .st_socialnetwork_f_style12, .st_socialnetwork_g_style12, .st_socialnetwork_x_style12, .st_socialnetwork_l_style12 {
	float: left;
	width: 80px;
}

.st_socialnetwork_f_style12 { width: 85px; }
.st_socialnetwork_x_style12 { width: 65px; }
.st_socialnetwork_g_style12 { width: 62px; margin-top: 2px; }