<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />
<f:format.raw>{tp3Page}</f:format.raw>
    <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/srt.sanierung.wiesbaden/" data-width="1200" data-height="600" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=261418004467&amp;color_scheme=light&amp;container_width=1499&amp;header=true&amp;height=600&amp;href=https%3A%2F%2Fwww.facebook.com%2Fsrt.sanierung.wiesbaden&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=true&amp;stream=true&amp;width=800"></div>
</f:section>
</html>