a.style10 {
	width: 16px;
	height: 16px;
	display: block;
	margin-left: 5px;
	float: left;
	text-indent: -9999px;
	overflow:hidden;
	line-height:0px;
	font-size:0px;
}

a.style10.twitter { background-image: url(twitter.png); }
a.style10.facebook { background-image: url(facebook.png); }
a.style10.youtube { background-image: url(youtube.png); }
a.style10.xing { background-image: url(xing.png); }
a.style10.linkedin { background-image: url(linkedin.png); }

.cleaner {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: both;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;	
}