.st_socialnetwork_t_style11, .st_socialnetwork_f_style11, .st_socialnetwork_g_style11, .st_socialnetwork_x_style11, .st_socialnetwork_l_style11 {
	float: left;
	width: 100px;
}

.st_socialnetwork_f_style11 { width: 90px; }
.st_socialnetwork_g_style11 { width: 75px; }