a.style05 {
	width: 64px;
	height: 64px;
	display: block;
	margin-left: 5px;
	float: left;
	text-indent: -9999px;
	overflow:hidden;
	line-height:0px;
	font-size:0px;
}

a.style05.twitter { background-image: url(twitter.png); }
a.style05.facebook { background-image: url(facebook.png); }
a.style05.youtube { background-image: url(youtube.png); }
a.style05.linkedin { background-image: url(linkedin.png); }
a.style05.tumblr { background-image: url(tumblr.png); }
a.style05.vkontakte { background-image: url(vkontakte.png); }
a.style05.flickr { background-image: url(flickr.png); }

.cleaner {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: both;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;	
}