<!-- ###DISPLAY_ACTIVITY_FEED### begin -->
<div class="fb-activity" data-site="###A_DOMAIN###" data-action="likes, recommends" data-width="###A_WIDTH###" data-height="###A_HEIGHT###" data-max-age="99" data-colorscheme="###A_COLOR_SCHEME###" data-header="###A_SHOW_HEADER###" data-recommendations="###A_SHOW_RECOMMENDATIONS###"></div>
<!-- ###DISPLAY_ACTIVITY_FEED### end -->
<!-- ###DISPLAY_ACTIVITY_FEED_IFRAME### begin -->
<iframe src="http://www.facebook.com/plugins/activity.php?locale=###LOCALE###&amp;site=###A_DOMAIN###&amp;width=###A_WIDTH###&amp;height=###A_HEIGHT###&amp;header=###A_SHOW_HEADER###&amp;colorscheme=###A_COLOR_SCHEME###&amp;font=###A_FONT###&amp;border_color=###A_BORDER###&amp;recommendations=###A_SHOW_RECOMMENDATIONS###" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:###A_WIDTH###px; height:###A_HEIGHT###px;" allowtransparency="true"></iframe>
<!-- ###DISPLAY_ACTIVITY_FEED_IFRAME### end -->


<!-- ###DISPLAY_COMMENTS### begin -->
<div class="fb-comments" data-href="###B_URL###" data-width="###B_WIDTH###" data-numposts="###B_NUMBER###" data-colorscheme="###B_COLOR_SCHEME###" data-include-parent="false"></div>
<!-- ###DISPLAY_COMMENTS### end -->


<!-- ###DISPLAY_FACEPILE### begin -->
<div class="fb-facepile" data-href="###C_URL###" data-width="###C_WIDTH###" data-max-rows="###C_NUM_ROWS###" data-colorscheme="###C_COLOR_SCHEME###" data-size="###C_SIZE###" data-show-count="true"></div>
<!-- ###DISPLAY_FACEPILE### end -->
<!-- ###DISPLAY_FACEPILE_IFRAME### begin -->
<iframe src="//www.facebook.com/plugins/facepile.php?app_id&amp;href=###C_URL###&amp;width=###C_WIDTH###&amp;max_rows=###C_NUM_ROWS###&amp;colorscheme=###C_COLOR_SCHEME###&amp;size=###C_SIZE###&amp;show_count=true&amp;appId=###APP_ID###" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
<!-- ###DISPLAY_FACEPILE_IFRAME### end -->


<!-- ###DISPLAY_LIKE_BUTTON### begin -->
<div class="fb-like" data-href="###D_URL###" data-layout="###D_LAYOUT_STYLE###" data-action="###D_VERB###" data-show-faces="###D_SHOW_FACES###" data-share="###D_SHARE###" data-colorscheme="###D_COLOR_SCHEME###" data-width="###D_WIDTH###"></div>
<!-- ###DISPLAY_LIKE_BUTTON### end -->
<!-- ###DISPLAY_LIKE_BUTTON_IFRAME### begin -->
<iframe src="http://www.facebook.com/plugins/like.php?locale=###LOCALE###&amp;href=###D_URL###&amp;layout=###D_LAYOUT_STYLE###&amp;show_faces=###D_SHOW_FACES###&amp;width=###D_WIDTH###&amp;action=###D_VERB###&amp;colorscheme=###D_COLOR_SCHEME###&amp;font=###D_FONT###&amp;height=###D_HEIGHT###" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:###D_WIDTH###px; height:###D_HEIGHT###px;" allowtransparency="true"></iframe><!-- ###DISPLAY_LIKE_BUTTON_IFRAME### end -->


<!-- ###DISPLAY_LIKE_BOX### begin -->
<div class="fb-page" data-href="###E_PAGE_URL###" data-width="###E_WIDTH###" data-height="###E_HEIGHT###" data-skin="light"  data-show-facepile="###E_SHOW_FACES###" data-hide-cover="###E_SHOW_HEADER###" data-tabs="###E_SHOW_STREAM###" data-show-border="###E_SHOW_BORDER###" style="width:###E_WIDTH###px;height:###E_HEIGHT###px;"></div>
<!-- ###DISPLAY_LIKE_BOX### end -->
<!-- ###DISPLAY_LIKE_BOX_IFRAME### begin -->
<iframe src="http://www.facebook.com/plugins/likebox.php?locale=###LOCALE###&amp;href=###E_PAGE_URL###&amp;width=###E_WIDTH###&amp;height=###E_HEIGHT###&amp;show_faces=###E_SHOW_FACES###&amp;stream=###E_SHOW_STREAM###&amp;header=###E_SHOW_HEADER###" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:###E_WIDTH###px; height:###E_HEIGHT###px;" allowtransparency="true"></iframe><!-- ###DISPLAY_LIKE_BOX_IFRAME### end -->


<!-- ###DISPLAY_RECOMMENDATIONS### begin -->
<div class="fb-recommendations" data-site="###H_DOMAIN###" data-action="likes, recommends" data-width="###H_WIDTH###" data-height="###H_HEIGHT###" data-colorscheme="###H_COLOR_SCHEME###" data-header="###H_SHOW_HEADER###"></div>
<!-- ###DISPLAY_RECOMMENDATIONS### end -->
<!-- ###DISPLAY_RECOMMENDATIONS_IFRAME### begin -->
<iframe src="http://www.facebook.com/plugins/recommendations.php?locale=###LOCALE###&amp;site=###H_DOMAIN###&amp;width=###H_WIDTH###&amp;height=###H_HEIGHT###&amp;header=###H_SHOW_HEADER###&amp;colorscheme=###H_COLOR_SCHEME###&amp;font=###H_FONT###&amp;border_color=###H_BORDER###" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:###H_WIDTH###px; height:###H_HEIGHT###px;" allowtransparency="true"></iframe>
<!-- ###DISPLAY_RECOMMENDATIONS_IFRAME### end -->


<!-- ###DISPLAY_SEND_BUTTON### begin -->
<div class="fb-send" data-href="###I_URL###" data-colorscheme="###I_COLOR_SCHEME###"></div>
<!-- ###DISPLAY_SEND_BUTTON### end -->


<!-- ###DISPLAY_SUBSCRIBE_BUTTON### begin -->
<div class="fb-follow" data-href="###J_URL###" data-width="###J_WIDTH###" data-height="###J_HEIGHT###" data-colorscheme="###J_COLOR_SCHEME###" data-layout="###J_LAYOUT_STYLE###" data-show-faces="###J_SHOW_FACES###"></div>
<!-- ###DISPLAY_SUBSCRIBE_BUTTON### end -->
<!-- ###DISPLAY_SUBSCRIBE_BUTTON_IFRAME### begin -->
<iframe src="//www.facebook.com/plugins/follow.php?href=###J_URL###&amp;width=###J_WIDTH###&amp;height=###J_HEIGHT###&amp;colorscheme=###J_COLOR_SCHEME###&amp;layout=###J_LAYOUT_STYLE###&amp;show_faces=###J_SHOW_FACES###&amp;appId=###APP_ID###" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:2px; height:80px;" allowTransparency="true"></iframe>
<!-- ###DISPLAY_SUBSCRIBE_BUTTON_IFRAME### end -->


<!-- ###DISPLAY_SHARE_BUTTON### begin -->
<div class="fb-share-button" data-href="###K_URL###" data-size="###K_WIDTH###"  data-href="https://developers.facebook.com/docs/plugins/" data-layout="###K_LAYOUT###" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
<!-- ###DISPLAY_SHARE_BUTTON### end -->


<!-- ###DISPLAY_EMBEDDED### begin -->
<div class="fb-post" data-href="###L_URL###" data-width="###L_WIDTH###"></div>
<!-- ###DISPLAY_EMBEDDED### end -->